<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ercasng.eze.igrmobile">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_main"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.ercasng.eze.igrmobile.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.ercasng.eze.igrmobile.Dashboard" />

        <!--<activity-->
            <!--android:name=".SchemeOwnersModule.Dashboard.ExtensionWorkersDetailActivity"-->
            <!--android:parentActivityName=".SchemeOwnersModule.Dashboard.Scheme_ExtensionActivity">-->
            <!--<meta-data-->
                <!--android:name="android.support.PARENT_ACTIVITY"-->
                <!--android:configChanges="orientation|screenSize"-->
                <!--android:value=".SchemeOwnersModule.Dashboard.Scheme_ExtensionActivity" />-->
        <!--</activity>-->

        <activity android:name="com.ercasng.eze.igrmobile.MdaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:configChanges="orientation|screenSize"
                android:value="com.ercasng.eze.igrmobile.MdaActivity"/>
        </activity>
        <activity android:name="com.ercasng.eze.igrmobile.Remittance">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:configChanges="orientation|screenSize"
                android:value="com.ercasng.eze.igrmobile.Remittance"/>
        </activity>
        <activity android:name="com.ercasng.eze.igrmobile.PosActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:configChanges="orientation|screenSize"
                android:value="com.ercasng.eze.igrmobile.PosActivity"/>
        </activity>
        <activity android:name="com.ercasng.eze.igrmobile.EbillsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:configChanges="orientation|screenSize"
                android:value="com.ercasng.eze.igrmobile.EbillsActivity"/>
        </activity>
        <activity android:name="com.ercasng.eze.igrmobile.ReportActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:configChanges="orientation|screenSize"
                android:value="com.ercasng.eze.igrmobile.ReportActivity"/>
        </activity>
        <activity android:name="com.ercasng.eze.igrmobile.InvoiceActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:configChanges="orientation|screenSize"
                android:value="com.ercasng.eze.igrmobile.InvoiceActivity"/>
        </activity>
    </application>

</manifest>