<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ercasng.eze.igrmobile">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_main"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.ercasng.eze.igrmobile.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.ercasng.eze.igrmobile.Dashboard" />
        <activity android:name="com.ercasng.eze.igrmobile.MdaActivity" />
        <activity android:name="com.ercasng.eze.igrmobile.Remittance" />
        <activity android:name="com.ercasng.eze.igrmobile.PosActivity" />
        <activity android:name="com.ercasng.eze.igrmobile.EbillsActivity" />
        <activity android:name="com.ercasng.eze.igrmobile.ReportActivity" />
        <activity android:name="com.ercasng.eze.igrmobile.InvoiceActivity"></activity>
    </application>

</manifest>